# Dépendances Node.js
node_modules/

# Variables d'environnement
.env
.env.local
.env.development.local
.env.production.local

# Fichiers de compilation
dist/
build/

# Rapports de tests
coverage/

# Journaux
*.log
logs/

# Fichiers du système
.DS_Store
Thumbs.db

# Fichiers temporaires des éditeurs
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Fichiers MySQL temporaires
*.pid