# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dépendances Node.js
node_modules/

# Variables d'environnement
.env
.env.*
!.env.example

# Fichiers de compilation
dist/
dist-ssr/
build/

# Rapports de tests
coverage/

# Fichiers locaux
*.local

# Éditeurs
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers divers
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.pid