@font-face {
    font-family: "Graphik";
    src: url("../assets/fonts/Graphik-Medium-Trial.otf")
        format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Graphik";
    src: url("../assets/fonts/Graphik-Bold-Trial.otf")
        format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}